<%- include('header') %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
	<div class="super-container">
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="/loginProcess" method="POST">
            <div class="input-group">
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <input type="submit" class="login-btn" value="login">
			<a class="special-link" href="?q=register">Aun no tienes cuenta? Registrate</a>
        </form>
    </div>
	</div>
</body>
</html>
